.main-section{
	height: 100vh;
	background-image: url('../img/1.jpg');
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
}

.show{
	display: block;
}

.hide{
	display: none;
}

/* .form-size{
	display: block;
	width: 25% !important;
	margin: 0 auto;
} */