html,
body{
  height: 100%;
}

.wrapper{
  min-height: 100%;
  display: flex;
  flex-direction: column;
  background: url('../img/1.jpg') no-repeat top/cover;
}

.main-section{
  flex: 1 0 auto;
}

.footer{
  float: 0 0 auto;
}

.show{
	display: block;
}

.hide{
	display: none;
}

/* .form-size{
	display: block;
	width: 25% !important;
	margin: 0 auto;
} */